<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="/stylesheets/stars.css">

<body>
      <main>
        <h5 class="numero">Home / <b> All Products</b> / <b><%=spot.name %> </b></h5>
        <div class="nunew">
            <div class="nuone">
               
                    <% if(spot.image.length ==  2) {%>
                    <img src="<%= spot.image[0].url %>" class="nunewone" alt="...">
                    <img src="<%= spot.image[1].url %>" class="nunewtwo" alt="...">
                    <img src="<%= spot.image[0].url %>" class="nunewthree" alt="...">
                    <img src="<%= spot.image[1].url %>" class="nunewfour" alt="...">
                    <% } else {%>
                    <img src="<%= spot.image[0].url %>" class="nunewone" alt="...">
                    <img src="<%= spot.image[1].url %>" class="nunewtwo" alt="...">
                    <img src="<%= spot.image[2].url %>" class="nunewthree" alt="...">
                    <img src="<%= spot.image[3].url %>" class="nunewfour" alt="...">
                    <% } %>



                <!-- <img src="images/Rectangle 128-1.png" alt="" class="nunewone">
                <img src="images/Rectangle 129-1.png" alt="" class="nunewtwo">
                <img src="images/Rectangle 130-1.png" alt="" class="nunewthree">
                <img src="images/Rectangle 130-1.png" alt="" class="nunewfour"> -->

            </div>
            <div class="nutwo">
            <h5><b> <%= spot.name %> </b></h5>
            <h6> <%= spot.location %> </h6>
            <p><%= spot.about %> </p>
            <p>Average Spend: <b>N<%=spot.price %></b></p>
             <hr>

            <div class="nuttonall">
            <div class="nutton1">
                <button> <a style="text-decoration: none; color: white;" href="/list/<%=spot._id%>/edit">EDIT</a></button>
            </div>
            <div>
            <form action="/list/<%=spot._id%>?_method=DELETE" method="POST">
                <button class="nutton2" style="width: 10px;" >DELETE</button>
             </form>
            </div>
         </div>
            <div id='map' style='width: 400px; height: 300px;'></div>
            <br>
            </div>
        </div>
        <div class="col-6 offset-3">
            <% if(currentUser) { %> 
                  <form action="/list/<%=spot._id%>/reviews" method="POST" class="mb-5 validated-form" novalidate>
                      <h2>Leave a Review</h2>
                      <!-- <div class="mb-3">
                          <label class="form-label" for="rating">Rating</label>
                          <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
                      </div> -->
                      <div class="mb-3">
                          <fieldset class="starability-basic">
                            <legend>First rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                        </div>
                      <div class="mb-3">
                          <label class="form-label" for="name">Full Name</label>
                          <input type="text" class="form-control" name="review[name]" id="body" required>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <div class="mb-3">
                          <label class="form-label" for="body">Review</label>
                          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                          <div class="valid-feedback">
                              Looks good!
                          </div>
                      </div>
                      <button class="btn-success">Submit</button>
                    </form>
                <% } %> 
                    <% for (let review of spot.reviews) { %> 
                      <div class="card mb-3">
                    <div class="mb-3 card-body">
                      <h5 class="card-title"><%=review.name%></h5>
                      <p class="starability-result" data-rating="<%=review.rating%>">
                        Rated: <%=review.rating%> stars
                      </p>
                      <p class="card-text"><%=review.body%></p>
                  <% if( currentUser && review.author.equals(currentUser._id)) { %> 
                      <form action="/list/<%=spot._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                          <Button class="btn btn-sm btn-danger">Delete</Button>
                      </form>
                  <% } %> 
                    </div>
                  </div>
                    <% } %>
        </div>
        <div>
            <h5 class="uno">YOU WILL LOVE THESE TOO</h5>
            <div class="imgss">
                <div>
                    <div>
                        <img src="<%=spotss[0].image[0].url%>" alt="">
                    </div>
                        <sub>
                            <small><a href="/list/<%=spotss[0]._id %>">View <%=spotss[0].name %></a> <span>N<%=spotss[0].price%></span></small> <br>
                       </sub>
                </div>
                <div>
                    <div>
                        <img src="<%=spotss[1].image[0].url%>" alt="">

                    </div>
                        <sub>
                            <small><a href="/list/<%=spotss[1]._id %>">View <%=spotss[1].name %></a> <span>N<%=spotss[1].price%></span></small> <br>
                       </sub>
                </div>
                <div>
                    <div>
                        <img src="<%=spotss[2].image[0].url%>" alt="">
                    </div>
                        <sub>
                            <small><a href="/list/<%=spotss[2]._id %>">View <%=spotss[2].name %></a> <span>N<%=spotss[2].price%></span></small> <br>
                       </sub>
                </div>
            </div>
        </div>
      </main>

      <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const spot = <%-JSON.stringify(spot)%>
  
      </script>
  
      <script src="/javascripts/showPageMap.js"></script>

</body>
